terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/secrets.yaml

# Discord bot
discord-bot/.env
discord-bot/poetry.lock
discord-bot/*/__pycache__/
discord-bot/.pytest_cache/
